[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
    ignore = dirty
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
    ignore = dirty
[submodule "vim/bundle/signify"]
	path = vim/bundle/signify
	url = https://github.com/mhinz/vim-signify
    ignore = dirty
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/bentomas/ctrlp.vim
    ignore = dirty
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/powerline/powerline.git
    ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "vim/bundle/blade.vim"]
	path = vim/bundle/blade.vim
	url = https://github.com/jwalton512/vim-blade.git
    ignore = dirty
[submodule "bin/cloudflare-cli"]
	path = lib/cloudflare-cli
	url = git@github.com:thelowlypeon/cloudflare-cli.git
